.DS_Store
*.pyc
/TheFakeTshirtCompany/TA-FAKE-TSHRT/bin/output
/Supporting TA
TheFakeTshirtCompany/docs/graphic/BGs/test.svg
TheFakeTshirtCompany/docs/reference/cyber-vision-ds.pdf
/.playwright-mcp
/TheFakeTshirtCompany/.superpowers
/TheFakeTshirtCompany/TA-FAKE-TSHRT/bin/.playwright-mcp
